
@{
    ViewBag.Title = "cadastrarFisica";
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CadastroFisica</title>
    <link rel="stylesheet" href="~/App_Themes/cadastro.css">
    <script src="/js/redirecionamento.js"></script>
</head>
<body>
    <div class="title">
        <h1>Agrocoops</h1>
        <h2>O agronomo produz mais do que grãos, ele produz o futuro.</h2>
    </div>
    <div class="container" id="container">
        <div class="form-container sign-in-container">
            <div class="btnAtalho">
                <button id="btnPessoaFisica" class="btnRedirecionar" onclick="pessoaFisica()">Pessoa Fisica</button>
                <button id="produtor" class="btnRedirecionar" onclick="produtor()">Produtor</button>
                <button id="empresa" class="btnRedirecionar" onclick="empresa()">Empresa</button>
            </div>
            <form method="post">
                <h1>Cadastrar-se</h1>
                <input name="nome" type="text" placeholder="Nome">
                <input name="telefone" type="number" placeholder="Telefone">
                <input name="cpf" type="number" placeholder="Cpf">
                <input name="datanasc" type="date" placeholder="Data nasc">
                <input name="email" type="email" placeholder="Email" />
                <input name="senha" type="password" placeholder="Password" />

                <input type="radio" name="sexo" id="f" value="f">
                <input type="radio" name="sexo" id="m" value="m">

                <button type="submit" >Finalizar</button>
            </form>
        </div>
    </div>
    <footer>
        <a>Webapp developed by rocket</a>
    </footer>
</body>
</html>