@model SiteGugu.Models.Produto
@{
    ViewBag.Title = "editProduto";
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="~/App_Themes/home.css">
    <link rel="stylesheet" href="~/App_Themes/navBar.css">
    <link rel="stylesheet" href="~/App_Themes/cardPerfil.css">
    <script src="~/Scripts/inputPerfil.js"></script>
</head>
<body onload="retorno()">
    <nav class="navbar">
        <div class="navbar-container container">
            <ul class="menu-items">
                <li><a href="#home">Cooperativa</a></li>
                <li><a href="/html/home.html">Cliente</a></li>
                <li><a href="/html/homeProdutor.html">Produtor</a></li>
                <li><a href="/html/editPerfil.html">Perfil</a></li>
                <li><a href="~/Views/Home/entrarCoop.cshtml">Cooperativas</a></li>
            </ul>
            <h1 class="logo">AgroTops</h1>
        </div>
    </nav>

    <div class="pai">
        <div class="card">
            <div class="card-border-top">
                <a class="subTitulo">Perfil</a>
            </div>
            <div id="texto" class="img">
            </div>
            <span>Carlos</span>
            <p class="job">Produtor</p>
            <p class="jobCoop">AgroTech</p>
            
            <form method="post">
                <input id="descricao" name="descricao" type="text" placeholder="descricao " value="@Model.descproduto">
                <button type="submit" class="btnPerfil" onclick="editPerfil()">Confirmar</button>
            </form>
                

        </div>
    </div>
</body>
</html>