@model IEnumerable <SiteGugu.Models.Produto>

@{
    ViewBag.Title = "homeProdutor";
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="~/App_Themes/home.css">
    <link rel="stylesheet" href="~/App_Themes/navBar.css">
    <link rel="stylesheet" href="~/App_Themes/homeProdutor.css">

    <script src="~/Scripts/redirecionamento.js"></script>
</head>
<body>
    <nav class="navbar">
        <div class="navbar-container container">
            <ul class="menu-items">
                <li><a href="#home">Cooperativa</a></li>
                <li><a href="/html/home.html">Cliente</a></li>
                <li><a href="/html/homeProdutor.html">Produtor</a></li>
                <li><a href="/html/editPerfil.html">Perfil</a></li>
                <li><a href="~/Views/Home/entrarCoop.cshtml">Cooperativas</a></li>
            </ul>
            <h1 class="logo">AgroTops</h1>
        </div>
    </nav>

    <div class="pai">
        <div class="conteiner">
            <div class="card-border-top">
                <a class="subTitulo">Produtos</a>
            </div>

            <!--Div para alinhar na horizontal os cards-->
            <div class="produtoAlinhaAIporra">
                <div id="addProduto">
                    <div class="card-border-bottom">
                        <button onclick="adicionarProduto()" class="btnAdicionar">Adicionar <br> Produto</button>
                    </div>
                </div>

                @foreach (var item in Model)
                {
                    <div id="addProduto">
                        <div class="cardProduto-info">
                            <p class="text-title">@item.descproduto</p>
                        </div>
                        <div class="cardProduto-footer">
                            <span class="text-title">R$<br> Estoque: <br> Coop: </span>
                        </div>
                        <a href="/home/editProduto?id=@item.idproduto"><button class="card-button">Editar</button></a>
                        
                    </div>
                }


            </div>

        </div>
    </div>
</body>
</html>